<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>推荐站点管理</title>
    <!-- css -->
    <th:block th:replace="_fragment :: _css">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
              th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}">
    </th:block>

</head>
<body>
<!-- 导航条 -->
<nav th:replace="_fragment :: _menu(3)" class="navbar navbar-expand-lg navbar-light"
     style="background-color: #e3f2fd;box-shadow: 0 0 10px #e3f2fd;">
    <a class="navbar-brand" href="/admin/main" th:href="@{/admin/main}">个人网站</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">用户管理<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文章管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">推荐站点</a>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-header">
        <a th:text="${session?.loginUser?.username}" class="nav-link dropdown-toggle" href="#"
           id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">权限</a>
            <a class="dropdown-item" href="#">用户信息</a>
            <a class="dropdown-item" href="#">上次登陆：<p
                    th:text="${#dates.format(session?.loginUser?.lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}"></p></a>
            <a class="dropdown-item" href="/user/logout" th:href="@{/user/logout}">注销</a>
        </div>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<!-- 导航条 -->

<!-- 面包屑导航 -->
<div class="float-right" style="margin-right: 15px">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="/admin/main" class="font-italic" th:href="@{/admin/main}">首页</a></li>
        <li class="breadcrumb-item active font-italic" aria-current="page">推荐站点管理</li>
    </ol>
</div>
<!-- 面包屑导航 -->

<main class="container">
    <div class="admin-content admin-padding-lrtb-small">
        <div th:class="${responseResult?.code == 200} ? 'alert alert-success' : 'alert alert-danger'"
             th:unless="${responseResult == null}" th:text="${responseResult?.message}"></div>
        <!-- 管理面板 -->
        <a href="#" onclick="addWebsite();" class="btn btn-sm btn-outline-primary" data-toggle="modal"
           data-target="#modal-common">新增</a>
        <div class="row admin-padding-lrtb-small">
            <div class="table-responsive">
                <table class="table table-sm table-hover w-100">
                    <thead>
                    <tr>
                        <th scope="col" class="align-middle text-center text-nowrap">站点编号</th>
                        <th scope="col" class="align-middle text-center text-nowrap">站点名称</th>
                        <th scope="col" class="align-middle text-center text-nowrap">链接</th>
                        <th scope="col" class="align-middle text-center text-nowrap">优先级</th>
                        <th scope="col" class="align-middle text-center text-nowrap">状态</th>
                        <th scope="col" class="align-middle text-center text-nowrap">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="website : ${websiteList}">
                        <th th:text="${website.id}" scope="row" class="align-middle admin-w-100 text-truncate text-center text-nowrap">1</th>
                        <td th:text="${website.name}" class="align-middle admin-w-100 text-truncate text-center text-nowrap">张三</td>
                        <td class="align-middle admin-w-200 text-truncate text-center text-nowrap">
                            <a th:href="@{${website.url}}" th:text="${website.url}" target="_blank"></a>
                        </td>
                        <td th:text="${website.top}" class="align-middle admin-w-100 text-truncate text-center text-nowrap">优先级</td>
                        <td class="align-middle admin-w-100 text-center text-nowrap"><a th:onclick="'editWebsite(' + ${website.id} + ');'"
                                                               class="badge" href="#"
                                                               th:classappend="${website?.status}?'badge-primary':'badge-secondary'"
                                                               th:text="${website?.status}?'推荐中':'未推荐'" data-toggle="modal"
                                                               data-target="#modal-common"></a></td>
                        <td class="align-middle text-truncate text-center text-nowrap">
                            <button th:onclick="'editWebsite(' + ${website.id} + ');'" type="button"
                                    class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                    data-target="#modal-common">编辑
                            </button>
                            <button th:onclick="'delWebsite(' + ${website.id} + ');'" type="button"
                                    class="btn btn-sm btn-outline-danger">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 管理面板 -->
    </div>
</main>

<th:block th:replace="_fragment :: _modal"></th:block>
</body>
<!-- javascript -->
<th:block th:replace="_fragment :: _javascript">
    <script src="../static/jquery/jquery-3.4.1.min.js" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</th:block>
<!-- javascript -->
<script>
    //用户详细信息
    function getUserAllInfo(id) {
        $.ajax({
            type: "get",
            url: "http://localhost:9000/user/info?id=" + id,
            dataType: "html",
            success: function (data) {
                $('#modal-title').text("用户信息");
                $('#modal-body').html(data);
                $('#modal-footer').html("<button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>返回</button>");
            }
        });
    }

    function addWebsite() {
        $.ajax({
            type: "get",
            url: "http://localhost:9000/website/add",
            dataType: "html",
            success: function (data) {
                $('#modal-title').text("站点内容管理");
                $('#modal-body').html(data);
                $('#modal-footer').html("<button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>返回</button><button onclick='postWebsiteAdd();' type='button' class='btn btn-outline-primary'>提交</button>");
            }
        })
    }

    function postWebsiteAdd() {
        $.ajax({
            type: "post",
            url: "http://localhost:9000/website/add",
            data: $('#addWebsiteForm').serialize(),
            success: function (data) {
                if (data.code == 200) {
                    alert(data.message);
                    setTimeout(window.location.href = 'http://localhost:9000/website/list', 1);
                } else {
                    alert(data.message)
                }
            }
        })
    }

    function editWebsite(id) {
        $.ajax({
            type: "get",
            url: "http://localhost:9000/website/edit?id=" + id,
            success: function (data) {
                $('#modal-title').text("站点内容管理");
                $('#modal-body').html(data);
                $('#modal-footer').html("<button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>返回</button><button onclick='postWebsiteEdit();' type='button' class='btn btn-outline-primary'>提交</button>");
            }
        })
    }

    function postWebsiteEdit() {
        $.ajax({
            type: "post",
            url: "http://localhost:9000/website/edit",
            data: $('#editWebsiteForm').serialize(),
            success: function (data) {
                if (data.code == 200) {
                    alert(data.message);
                    setTimeout(window.location.href = 'http://localhost:9000/website/list', 1);
                } else {
                    alert(data.message)
                }
            }
        })
    }

    function delWebsite(id) {
        let flag = confirm("确定删除站点吗？");
        if (flag) {
            $.ajax({
                type: "post",
                url: "http://localhost:9000/website/del",
                data: {"id": id},
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.message);
                        setTimeout(window.location.href = 'http://localhost:9000/website/list', 1);
                    } else {
                        alert(data.message)
                    }
                }
            })
        }
    }
</script>
</html>